.button {
}

.disabled {
    background-color: saddlebrown;
    color: saddlebrown ;
}

.secondary {
}

.default {
}

.red {
    background-color: red;
    color: saddlebrown;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
